.CONTACT{
padding-top: 50px;
    text-align: center;
    color: white;
    width: 1366px;
    height: 700px;
}
.CT{
    height: 550px;
}
.contact-box{
    display: flex;
    flex-direction: row;
 
}
.contact-tap{
 color: black;
 width: 480px;
 height: 400px;
    margin-top: 40px;
    margin-left: 80px;
    background-color: white;
    border-radius: 20px;
}
.contact-tap h1{
    font-size: 25px;
    margin-top: 20px;
    margin-left:20px ;
}
.contact-tap button{
    border: none;
    margin-top: 25px;
    border-radius: 10px;
    width: 80%;
    color: white;
    background-color: var(--bg-color);
    padding: 10px;
}
.contact-lable label,.contact-input input{
    margin-top: 20px;
}
.contact-lable label{
    margin-left: 50px;
}
.contact-input{
    margin-left: 20px;
    width: 100%;
}
.contact-lable{
    font-size: 25px;
    width: 100%;
    text-align: start;
}
.contact-input input{
    margin-top: 20px;
    background-color: var(--bg-color);
    outline: none;
    color: white;
    border-radius: 10px;
    padding-right: 100px;
    padding: 5px 6px 6px 6px; 
    border: 1px solid #21283a ;
}
.contact-input textarea{
    margin-top: 30px;
    background-color: var(--bg-color);
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 15px 18px 7px 7px; 
    border: none;
}
/* ____________________________________________________________________________________________________ */

.contact-details{
    display: flex;
    text-align: start;
    color: var(--text-black);
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 400px;
    margin-top: -400px;
    margin-left: 55%;
}
:where(.Call,.Gmail,.Address){
   background-color: white;
   padding: 10px;
   font-size: 25px;
   width: 400px;
   height: 50px;
   border-radius: 20px;
   text-align: center;
   transition: 0.5s;
   display: flex;
   flex-direction: row;
   overflow: hidden;
   cursor: pointer;
}
:where(.Call,.Gmail,.Address) a{
    text-decoration: none;
    color: var(--text-black);
    margin-left: 50px; 
}
:where(.Call,.Gmail,.Address) i{
    color: var(--text-black);
    margin-left: 3px;
    margin-top: 3px;
}
/* -----------------------------------------------------------message-------------- */
#message{
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
    height: 50px;
    color: black;
    font-size: 20px;
    margin-top: -50px;
    margin-left: 100%;
    border-radius: 20px;
    align-content: center;
}