.CONTACT{
    margin-top: 100px;
    text-align: center;
    color: white;
    width: 1366px;
    height: 700px;
    background-color: #21283a;
}
.contact-box{
    display: flex;
    flex-direction: row;
 
}
.contact-tap{
 color: black;
    width: 400px;
    height: 480px;
    margin-top: 70px;
    margin-left: 200px;
    background-color: white;
    border-radius: 50px;
}
.contact-tap h1{
    margin-top: 20px;
    margin-left:20px ;
}
.contact-tap button{
    border: none;
    margin-top: 25px;
    width: 100%;
    color: white;
    background-color: #21283a;
    padding: 10px;
}
.contact-lable label,.contact-input input{
    margin-top: 30px;
}
.contact-lable label{
    margin-left: 50px;
}
.contact-input{
    margin-left: 50px;
    width: 100%;
}
.contact-lable{
    font-size: 25px;
    width: 100%;
    text-align: start;
}
.contact-input input{
    margin-top: 30px;
    background-color: #21283a;
    outline: none;
    color: white;
    border-radius: 20px 0 0 20px;
    padding-right: 100px;
    padding: 10px 15px 6px 6px; 
    border: 1px solid #21283a ;
}
.contact-input textarea{
    margin-top: 30px;
    background-color: #21283a;
    outline: none;
    color: white;
    border-radius: 20px 0 0 20px;
    padding-right: 100px;
    padding: 10px 20px 7px 7px; 
    border: none;
}
/* ____________________________________________________________________________________________________ */

.contact-details{
    display: flex;
    text-align: start;
    
    color: black;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 400px;
    margin-top: -450px;
    margin-left: 50%;
}
:where(.Call,.Gmail,.Address){
   background-color: white;
   padding: 10px;
   font-size: 25px;
   width: 50px;
   height: 50px;
   border-radius: 50px;
   text-align: center;
   transition: 0.5s;
   display: flex;
   flex-direction: row;
   overflow: hidden;
   cursor: pointer;
}
:where(.Call,.Gmail,.Address):hover{
    width: 500px;
    
}
:where(.Call,.Gmail,.Address) a{
    text-decoration: none;
    color: #21283a;
    margin-left: 50px; 
}
:where(.Call,.Gmail,.Address) i{
    color: #21283a;
    margin-left: 3px;
    margin-top: 3px;
}
/* -----------------------------------------------------------message-------------- */
#message{
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
    height: 50px;
    color: black;
    font-size: 20px;
    margin-top: -50px;
    margin-left: 100%;
    border-radius: 20px;
    align-content: center;
}