.project{
    margin-top: 100px;
    text-align: center;
    color: white;
    width: 1366px;
    height: 650px;
    background-color: #21283a;
}
.project .heading{
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 100;
    width: 100%;
    margin-top: 50px;
    
}
.carousel-inner img{
    width: 100px;
    height: 650px;
}
.fa-file-code{
    position: absolute;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 10px;
    border: 2px solid white;
}
.fa-git-alt{
    position: absolute;
    align-content: center;
    width: 50px;
    height: 50px;
    margin-left: -50px;
    margin-top: -70px;
    border-radius: 50%;
    border: 2px solid white;
}
.carousel-inner i{
    color: white;
    font-size: 30px;
}
.carousel-caption{
    background-color:  rgba(0, 0, 0, 0.582);
    padding-top: 100px;
    border-radius: 20px;
}
.btn-secondary{
    background-color: transparent;
    border: none;
}
.btn-secondary:hover{
    background-color: transparent;
    border: none;
}
