@media (max-width: 720px) { 
    /* ------------------------------------------------------------index */
    .Index{
        background-image: url("../img/my\ img\ 2.jpg");
        width: 100%;
        height: 650px;
 }
 .trans{
    height: 100%;
}
 .Index-headTitle-1{
    font-size: 70%;
    margin-top: 60%;
}
.Index-headTitle-2{
    font-size: 200%;
}
.Index-subTitle{
    font-size: 15px;
}
.Index-p-tag{
    line-height: 15px;
    font-size: 80%;
    width: 80%;
}
.Index-circle{  
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 250px;
    height: 400px;
    border-radius: 0 0 0 20px;
    border: 1px solid black;
    -webkit-box-shadow: 0px -1px 37px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 37px 8px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 37px 8px rgba(0,0,0,0.75);


}
.fa-caret-left{
    display: none;
}
.fa-bars{
    position: absolute;
    position: fixed;
    display: block;
    font-size: 30px;
    top: 20px;
    left: 85%;
    z-index: 10000;
}
.index-ul{
    display: none;
    top: 15%;
    left: 50%;
    font-size: 15px;
}
.index-ul button{
    padding: 5px 20px;
    top: 200px;
    left: 10px;  
}
.box1 {
    width: 150px;
    padding: 5px;
    top: 30px;
  }
  .sb7:before {
    left: 10px;
    top: 25px;
  }
  .sb7 a{
    font-size: 10px;
  }
  .insta ,.linkedin ,.github {
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 20px;
}
.butten3{
    width: 100px;
    height: 100px;
}
.butten4{
    margin-left: 13%;
}
.butten5{
    margin-left:13%;
}
   /* --------------------------------------------------------About */
   .ABOUT{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.about-title{
    margin-bottom: 50px;
}
.ABOUT button{
    padding: 5px 10px;
    width: 100px;
    font-size: 10px;
    border-radius: 50px;
    margin-top: -35px;
    margin-left: 10px;
}
.ab-screen{
    padding: 5px 0px;
    padding-bottom: 20px;

}
  /* ------------------------------------------------------------skills */
  .SKILLS{
    height: 100%;
}
.skills-container .circle{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    border-radius: 50%;
}
.skills-container{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 0%;
    margin-top: -15px;
}
#con-left{
display: none;
}
#con-right{
display: none;
}
   /* -----------------------------------------------------------------------------education */
.EDUCATION{
    width: 100%;
    height: 650px;
}
.skills-taps{
    display: block;
    margin-top: 200px;
}

  /* ----------------------------------------------------------------------------------project */
  .project{
    margin-top: 750px;
    width: 100%;
    height: 650px;
}
.carousel-inner img{
    width: 100px;
    height: 250px;
}
.container .card .imgBX{
    width: 250px;
}
.project .heading{
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 100;
    width: 60%;
    margin-top: 20px;
    text-align: center;
    margin-left: 50px;
    
}

    /* ----------------------------------------------------------------------------------contact */
    .CONTACT{
        color: white;
        width: 100%;
        height: 200%;
        font-size: 15px;
    }
    .contact-tap{
           margin-left: 10%;
           width: 300px;
           height: 400px;
       }
       .contact-tap h1{
        font-size: 30px;
        margin-top: 20px;
        margin-left:20px;
    }
    .contact-tap button{
        border: none;
        margin-top: 25px;
        width: 80%;
        color: white;
        background-color: var(--bg-color);
        padding: 10px;
    }
    .contact-lable label,.contact-input input{
        margin-top: 20px;
    }
    .contact-lable label{
        margin-left: 50px;
    }
    .contact-input{
        margin-left: 10px;
    }
    .contact-lable{
        font-size: 20px;
    }
    .contact-input input{
        text-align: center;
        margin-top: 15px;
        padding: 10px 15px 0px 0px; 
        width: 160px;
    }
    .contact-input textarea{
        margin-top: 15px;
        border-radius: 20px 0 0 20px;
        padding-right: 100px;
        padding: 10px 7px 7px 7px; 
        border: none;
    }
    .contact-details{
        margin-top: 100px;
        margin-left: 15%;
        height: 200px;
        margin-bottom: 100px;

    }
    :where(.Call,.Gmail,.Address){
        width: 300px;
        font-size: 15px;  
        padding: 5px;
        height: 30px;
    }
    :where(.Call,.Gmail,.Address) a{
        margin-left: 20px; 
    }
    /* -----------------------------------------------------------------------------------footer */
    .endline{
        position: absolute;
        margin-top: 1000%;


    }
}